@import "breakpoints";
@import "variables";
@import "mixins";

.header-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  height: $header-height;
  transition: 1s ease 0s;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  z-index: 1;

  .header-left {
    display: flex;
    cursor: pointer;
    text-decoration: none;

    .logo {
      height: 100%;
      margin-right: 0.6rem;
    }

    .place-names {
      font-size: 1rem;
      color: $cg-white;
      transition: 1s ease 0s;
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        line-height: 1.4;
      }
    }
  }

  .hamburger-wrapper {
    width: 30px;
    height: 21px;
    cursor: pointer;
    @include md {
      display: none;
    }
  }

  .hamburger {
    width: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: $cg-white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out, background-color 1s ease-in;
      -moz-transition: 0.25s ease-in-out, background-color 1s ease-in;
      -o-transition: 0.25s ease-in-out, background-color 1s ease-in;
      transition: 0.25s ease-in-out, background-color 1s ease-in;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }
  }

  .is-active {
    span {
      &:nth-child(1) {
        top: 9px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 9px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

// Navigation Wrapper
.navigation-wrapper {
  @include reset-list;

  * {
    font-size: 1rem;
  }

  .nav-item {
    a {
      color: $cg-white;
      transition: 1s ease 0s;
    }
    .dropdown-title {
      padding: 16px;
    }

    .dropdown-icon {
      position: relative;
      left: -5px;
      top: 3px;
    }
  }

  @include md {
    display: flex;

    .nav-item {
      display: flex;
      align-items: center;
      position: relative;

      a {
        margin-right: 1.6rem;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          border-top: 2px solid $cg-white;
          width: 0;
          transition: width 0.2s ease 0s, border-top-color 1s ease 0s;
        }

        &:hover {
          &::after {
            width: calc(80% - 1rem);
          }
        }

        &.active-link::after {
          width: calc(80% - 1rem);
        }
      }
    }
  }

  @include below-md {
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    background: $cg-white;
    min-height: 100vh;
    overflow: hidden;
    transition: 0.5s ease 0s;

    li a {
      color: $cg-black !important;
      padding: 1rem;
      width: 100%;
      display: block;
    }
  }
}

.is-open {
  @include below-md {
    width: 14rem;
  }
}

// On scroll styles
.navbar-with-bg {
  background-color: $cg-white;
  border-bottom: $border-light;

  .header-left .place-names {
    color: $cg-black;
  }

  .navigation-wrapper .nav-item a {
    color: $cg-black;

    &::after {
      border-top-color: $cg-black;
    }
  }

  .hamburger span {
    background-color: $cg-black;
  }
}
