<header class="header-wrapper" [ngClass]="{ 'navbar-scroll': scrolledToBottom }">
  <a class="height-100 header-left" routerLink="">
    <img class="logo" src="assets/images/logo.png" alt="Logo" />
    <div class="place-names">
      <div>Cherukunnu</div>
      <div>ചെറുകുന്ന്</div>
    </div>
  </a>
  <div class="hamburger-wrapper" (click)="toggleNavigation()">
    <div class="hamburger" [ngClass]="{'is-active': openNav}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <ul class="navigation-wrapper" [ngClass]="{'is-open': openNav}">
    <li *ngFor="let nav of navList" class="nav-item">
      <a *ngIf="!nav.children" class="reset-link" [routerLink]="nav.url" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }" (click)="toggleNavigation()">
        {{ nav.displayName }}
      </a>

      <!-- <div *ngIf="nav.children">
                  <div
                    mat-list-item
                    [matMenuTriggerFor]="menu"
                    class="dropdown-title cursor-pointer"
                  >
                    {{ nav.displayName }}
                    <span class="material-icons dropdown-icon"> arrow_drop_down </span>
                  </div>
                  <mat-menu #menu="matMenu">
                    <a
                      mat-menu-item
                      *ngFor="let childNav of nav.children"
                      (click)="toggleNavbar.emit()"
                      [routerLink]="nav.url + '/' + childNav.url"
                      routerLinkActive="active-link"
                    >
                      {{ childNav.displayName }}
                    </a>
                  </mat-menu>
                </div> -->
    </li>
  </ul>
</header>