@import "variables";

footer {
  line-height: 1.4;
  text-align: center;
  background-color: $cg-primary;
  font-size: 1rem;
  padding: 1rem;
  color: $cg-white;

  a {
    text-decoration: none;
    font-weight: bold;
    color: $cg-white;
  }
}
