@import "variables";

footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem;
  color: $cg-black;
  border-top: $border-light;

  a {
    text-decoration: none;
    font-weight: bold;
    color: $cg-black;
  }
}
